.button {
    /*-fx-background-color: red;*/
}

#navbar-wrapper {
    -fx-background-color: #EAEEF7;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

#logo-wrapper {
    width: 300px;
    height: 300px;
}

.button-login {
    -fx-background-color: #5B8DEF;
    -fx-text-fill: white;
    -fx-border-radius: 20rem;
    -fx-min-width: 100px;
    -fx-min-height: 40px;
    -fx-font-size: 15px;
}

.navbar-searchbar {
    -fx-min-width: 300px;
    -fx-min-height: 30px;
}

.sidebar-wrapper {
    -fx-min-height: 320px;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-min-width: 200px;
    -fx-max-width: 200px;
}

.sidebar-item-wrapper {
    -fx-background-color: #D0DDFD;
}

.sidebar-item-wrapper .label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #6993F9;
}

.sidebar-item-wrapper-2 {
    -fx-background-color: white;

}
.sidebar-item-2 {
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}