@import "sidebar.css";

.make-post-button, .make-post-button-white {
    -fx-background-color: #5B8DEF;
    -fx-text-fill: white;
    -fx-min-width: 100px;
    -fx-background-radius: 20px;
    -fx-min-height: 40px;
    -fx-font-size: 15px;
}

.make-post-button-white {
    -fx-background-color: #FFF;
}


/*Text Field Make a Post*/
.make-post-title {
    -fx-min-width: 500px;
    -fx-min-height: 50px;
    -fx-background-radius: 10px;
    /*-fx-effect: dropshadow(gaussian, black, 0, 0, 0, 0);*/
}

.make-post-text {
    -fx-min-width: 500px;
    -fx-min-height: 300px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 2px;
    /*-fx-effect: dropshadow(gaussian, black, 0, 0, 0, 0);*/
}

.make-post-wrapper {
    -fx-background-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: rgba(0,0,0,0.1);
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2, 2, 0, 2);
}



